# ----------------------------------------------------------------------------
# Stop metricbeat
#
# Author: liza.dayoub@elastic.co
# ----------------------------------------------------------------------------
---

- name: Stop metricbeat process
  shell: set -o pipefail && "ps -efw | grep metricbeat | grep -v grep | awk '{print $2}' | xargs kill -SIGTERM"
  args:
    executable: /bin/bash
  become: true
  tags: stop_metricbeat
  changed_when: false
